.full{
    width: 100%;
}

.site-content{
    padding:20px;
}
.entry{
    font-size: large;
}

.entry-header{
    text-align: center;
}

.entry-content{
    text-align: center;
    font-size: large;
}

.header-top{
    height: 88;
}

.wrap{
    align-content: center;
}